h1 {
	text-align:center;
}

img {
	display: block;
    margin: 0 auto;
}

.panel-heading {
	background-color: #637B4B !important;
	border-width: 8px !important;
	color: white !important;
	
}

.designer {
	background-color: #838B8B;
	border-radius: 15px;
	border-style: solid;
	border-color: black;
}
