{% extends "base.html" %}
{% block title %}Attraction{% endblock %}
{% block links %}<link type="text/css" rel="stylesheet" href="../stylesheets/attraction.css">{% endblock %}

{% block content %}
<h1>Places of Attraction</h1>
<div class="panel-group" id="accordion">
	{% for place in places %}
  	<div class="panel panel-default">
    	<div class="panel-heading">
      	<h4 class="panel-title">
        	<a data-toggle="collapse" data-parent="#accordion" href= #{{place.name }}>{{ place.name }}</a>
      	</h4>
    	</div>
    	<div id={{place.name}} class="panel-collapse collapse">
      		<table class="table">
				<thead>
					<tr>
						<th>Address</th>
						<th>Description</th>
						<th>Image</th>
						<th>Opening hours</th>
						<th>Duration</th>
						<th>Price</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td width="10%">{{ place.address }}</td>
						<td width="20%">{{ place.desc }}</td>
						<td width="55%"><img src="http://4.bp.blogspot.com/-LQw-wHWk7aw/UCkt37kysEI/AAAAAAAANHs/SwCKd8vZXts/s640/DSC02600.jpg"></td>
						<td width="5%">{{ place.opening }} - {{ place.closing }}</td>
						<td width="5%">{{ place.duration }}</td>
						<td width="5%">Free</td>
					</tr>
				</tbody>
			</table>   
    	</div>
   	</div>
   	{% endfor %}
</div>
{% endblock %}

{% block scripts %}
{% endblock %}