<!-- Contact page -->
{% extends "base.html" %}
{% block title %}Contact{% endblock %}
{% block links %}<link type="text/css" rel="stylesheet" href="../stylesheets/contact.css">{% endblock %}

{% block content %}
<h1>The Green Mushrooms</h1>
<img src="http://findicons.com/files/icons/1797/happy_mushroom/128/green_clubs.png">
<p style="text-align: center">*This app is designed by these two people and no, they are not green mushrooms.*</p>
<div class="row">
	<div class="col-md-6" id="designer1">
		<div class="panel panel-success">
			<div class="panel-heading"><h3><strong>Nguyen Thanh Nhan</strong></h3></div>
			<div class="panel-body">
				<p>Major: Computer Science Year 1</p>
				<p>"Coding doesn't stop at bugs"</p>
			</div>
		</div>	
	</div>
	<div class="col-md-6">
		<div class="panel panel-success">
			<div class="panel-heading"><h3><strong>Koh Xian Hui</strong></h3></div>
			<div class="panel-body">
				<p>Major: Computer Science Year 1</p>
				<p>"Computing is interesting and it opens one's eyes to another world." *super corny*</p>
			</div>
		</div>
	</div>
</div>
<h1>Feedback to Us!</h1>
<div class="container">
	<form class="form-horizontal" name="feedback" action='/feedback' method='post' onsubmit="return required()">
		<fieldset>
			<div class="form-group">
				<label class="control-label col-xs-2" for="inputComments">Feedback</label>
				<div class="col-xs-10"><textarea class="form-control" rows="4" name="comments"></textarea></div>
			</div>
			<div class="text-center"><button class="btn btn-primary btn-large" type="submit">Submit</button></div>
		</fieldset>
	</form>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="../scripts/contact.js"></script>
{% endblock %}
