<!-- Home page -->
{% extends "base.html" %}
{% block title %}Contact Us{% endblock %}
{% block links %}<link type="text/css" rel="stylesheet" href="../stylesheets/contact.css">{% endblock %}

{% block content %}
	<h1>The Green Mushrooms</h1>
	<img src="http://findicons.com/files/icons/1797/happy_mushroom/128/green_clubs.png">
	<p style="text-align: center">*This app is designed by these two people and no, they are not green mushrooms.*</p>
<div class="container">
	<div id="designer" class="col-md-6">
		<h3>Nguyen Thanh Nhan</h3>
		<p>Major: Computer Science Year 1</p>
		<p>(insert sth here!)</p>
	</div>
	<div id="designer" class="col-md-6">
		<h3>Koh Xian Hui</h3>
		<p>Major: Computer Science Year 1</p>
		<p>"Computing is interesting and it opens one's eyes to another world." *super corny*</p>
	</div>
</div>
	<h1>Feedback to Us!</h1>
	<div class="container">
		<h1>Thank You!</h1>
	</div>
{% endblock %}
