<!-- Home page -->
{% extends "base.html" %}
{% block title %} Home{% endblock %}
{% block content %}
<img class="img-responsive" src="../images/homefront.jpg" alt="Image">
<br>
<div class="text-center">
	<h4>
		<p>If you do not know where to go or what to do in Singapore, you are in for a treat!</p>
		<p>All you have to do is to give us the information you have and <strong>We Plan For You La!</strong></p>
		<p><small>Super lame!!! We will think of another catchy line.</small></p>
	</h4>

	<a class="btn btn-lg btn-success" href="/planner">	Get Started &raquo;</a>
</div>

{% endblock %}
