<!-- Home page -->
{% extends "base.html" %}
{% block title %} Home{% endblock %}
{% block content %}
<img class="img-responsive" src="../images/homefront.jpg" alt="Image">
<br>
<div class="text-center">
	<h4>
		<p>If you do not know where to go or what to do in Singapore, you are in for a treat!</p>
		<p>All you have to do is to give us the information you have and <strong>SingaPlanner</strong> will plan for you la!</p>
	</h4>
	<!-- 4:3 aspect ratio -->
	<div class="embed-responsive embed-responsive-16by9">
<iframe class="embed-responsive-item" width="560" height="315" src="///www.youtube.com/embed/AXBqpodSeT8" frameborder="0" allowfullscreen></iframe>
	</div>
	<a class="btn btn-lg btn-success" href="/planner">	Get Started &raquo;</a>
</div>

{% endblock %}
