<!-- Places Entry -->
<!DOCTYPE HTML>
<html>
	<head>
		<title> Planner</title>
		<link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
	</head>
	<body>
		<div class="container">

			<div class="text-center"><h2> Place Entry </h2></div>
			<form role="form" action="/placeentrymass" method='post'>
				<button class="btn btn-lg btn-primary" type='submit'>Read from file !</button>
			</form>
			<form class="form-horizontal" action='/placeentry' method='post'>
				<div class="form-group">
					<label class="control-label col-xs-2" for="inputName">Name</label>
					<div class="col-xs-10"><input id="inputName" class="form-control" type="text" name="name"></div>
				</div>

				<div class="form-group">
					<label class="control-label col-xs-2" for="inputDesc">Description</label>
					<div class="col-xs-10"><textarea class="form-control" rows="4" name="desc"></textarea></div>
				</div>
				
				<div class="form-group">
					<label class="control-label col-xs-2" for="inputAddress">Address</label>
					<div class="col-xs-6"><input id="inputAddress" class="form-control" type="text" name="address"></div>
					
					<label class="control-label col-xs-2" for="inputPostal">Postal Code</label>
					<div class="col-xs-2"><input id="inputPostal" class="form-control" type="text" name="postal"></div>
				</div>
				
				<div class="form-group">
					<label class="control-label col-xs-2" for="inputPop">Popularity</label>
					<div class="col-xs-10"><input id="inputPop" class="form-control" type="number" name="popularity"></div>
				</div>

				<div class="form-group">
					<label class="control-label col-xs-2" for="inputImage">Image</label>
					<div class="col-xs-10"><input id="inputImage" class="form-control" type="text" name="image"></div>
				</div>

				<div class="form-group">
					<label class="control-label col-xs-2">Location Type</label>
					<div class="col-xs-10">
						<label class="radio-inline">
							<input id="inlineRadio1" type="radio" name="loc_type" value="outdoor">Outdoor
						</label>
						<label class="radio-inline">
							<input id="inlineRadio2" type="radio" name="loc_type" value="indoor">Indoor
						</label>
						<label class="radio-inline">
							<input id="inlineRadio3" type="radio" name="loc_type" value="both">Both
						</label>
					</div>					
				</div>

				<div class="form-group">
					<label class="control-label col-xs-2" for="inputDuration">Duration</label>
					<div class="col-xs-2">
						<input id="inputDuration" class="form-control" type="text" name="duration" placeholder="00:00">
					</div>

					<label class="control-label col-xs-2" for="inputOpening">Opening</label>
					<div class="col-xs-2">
						<input id="inputOpening" class="form-control" type="text" name="opening" placeholder="00:00">
					</div>

					<label class="control-label col-xs-2" for="inputClosing">Closing</label>
					<div class="col-xs-2">
						<input id="inputClosing" class="form-control" type="text" name="closing" placeholder="00:00">
					</div>
					<div class="col-xs-2"></div>
					<span class="col-xs-10 help-block">Please enter according to format hh:mm (24-hour fomart). Range: 00:00 to 23:59.<br>For example: 03:30 for 3 hours and 30 minutes or 3 thirty in the morning.</span>
				</div>

				<hr>

				<div class="form-group">
					<div class="col-xs-2"></div>
					<div class="col-xs-10 text-center">
						<h3><strong>Preference Scores</strong></h3>
						<span class="help-block" id="helpPref">Fractional number. All preference scores add up to 1.0</span>
					</div>

					<label class="control-label col-xs-2" for="inputNature">Nature</label>
					<div class="col-xs-4"><input id="inputNature" class="form-control" type="number" name="nature" step="any"></div>

					<label class="control-label col-xs-2" for="inputShopping">Shopping</label>
					<div class="col-xs-4"><input id="inputShopping" class="form-control" type="number" name="shopping" step="any"></div>
				</div>

				<div class="form-group">
					<label class="control-label col-xs-2" for="inputCulture">Culture</label>
					<div class="col-xs-4"><input id="inputCulture" class="form-control" type="number" name="culture" step="any"></div>

					<label class="control-label col-xs-2" for="inputFamily">Family</label>
					<div class="col-xs-4"><input id="inputFamily" class="form-control" type="number" name="family" step="any"></div>
				</div>

				<div class="form-group">
					<label class="control-label col-xs-2" for="inputRomance">Romance</label>
					<div class="col-xs-4"><input id="inputRomance" class="form-control" type="number" name="romance" step="any"></div>

					<label class="control-label col-xs-2" for="inputFood">Food</label>
					<div class="col-xs-4"><input id="inputFood" class="form-control" type="number" name="food" step="any"></div>
				</div>

				<hr>

				<div class="form-group">
					<div class="col-xs-2"></div>
					<div class="col-xs-10 text-center">
						<h3><strong>Time Scores</strong></h3>
						<span class="help-block">Fractinal number. All time scores add up to 1.0</span>
					</div>
					<label class="control-label col-xs-2" for="inputNight">Night</label>
					<div class="col-xs-4"><input id="inputNight" class="form-control" type="number" name="night" step="any"></div>

					<label class="control-label col-xs-2" for="inputMorning">Morning</label>
					<div class="col-xs-4"><input id="inputMorning" class="form-control" type="number" name="morning" step="any"></div>
				</div>

				<div class="form-group">
					<label class="control-label col-xs-2" for="inputAfternoon">Afternoon</label>
					<div class="col-xs-4"><input id="inputAfternoon" class="form-control" type="number" name="afternoon" step="any"></div>

					<label class="control-label col-xs-2" for="inputEvening">Evening</label>
					<div class="col-xs-4"><input id="inputEvening" class="form-control" type="number" name="evening" step="any"></div>
				</div>

				<hr>

				<div class="form-group">
					<label class="control-label col-xs-2" for="">Suitability</label>
					<div class="col-xs-5">
						<div class="checkbox">
							<label for="">
								<input type="checkbox" name="handicapped" value="true">Handicapped
							</label>
						</div>
						<div class="checkbox">
							<label for="">
								<input type="checkbox" name="children" value="true">Children
							</label>
						</div>
					</div>
					<div class="col-xs-5">
						<div class="checkbox">
							<label for="">
								<input type="checkbox" name="infants" value="true">Infants
							</label>
						</div>
						<div class="checkbox">
							<label for="">
								<input type="checkbox" name="elderlies" value="true">Elderlies
							</label>
						</div>
					</div>
				</div>
				<div class="text-center"><button class="btn btn-primary btn-large" type="submit">Submit</button></div>
			</form>

			<!-- Displaying entered data -->
			<hr>
			<div class="text-center"><h2> Places List </h2></div>

			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>Name</th>
						<th>Desc</th>
						<th>Address</th>
						<th>Popularity</th>
						<th>Image</th>
						<th>LocType</th>
						<th>Duration</th>
						<th>Operating</th>
						<th>Preference</th>
						<th>Time</th>
						<th>Suitability</th>
					</tr>
				</thead>
				<tbody>
					{% for place in places %}
					<tr>
						<td class="col-xs-1">{{ place.name }} </td>
						<td class="col-xs-4">{{ place.desc }} </td>
						<td class="col-xs-1">{{ place.address }},({{ place.postal }})</td>
						<td class="col-xs-1">{{ place.popularity }} </td>
						<td class="col-xs-1">{{ place.image }} </td>
						<td class="col-xs-1">{{ place.loc_type }} </td>
						<td class="col-xs-1">{{ place.duration }} </td>
						<td class="col-xs-1">{{ place.opening }} - {{ place.closing }}</td>
						<td class="col-xs-2">
							{{place.nature}},{{place.shopping}},{{place.culture}},{{place.family}},{{place.romance}},{{place.food}}
						</td>
						<td class="col-xs-2">
							{{place.night}},{{place.morning}},{{place.afternoon}},{{place.evening}}
						</td>
						<td class="col-xs-1">
							{{place.handicapped}},{{place.children}},{{place.infants}},{{place.elderlies}}
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</body>
</html>
