<!-- Template page -->
{% extends "base.html" %}
{% block title %} Your Trip{% endblock %}
{% block links %}
<link rel="stylesheet" href="../stylesheets/trip.css">
{% endblock %}
{% block content %}
<div class="row-fluid">
	<div class="col-md-4">
		<div class="panel panel-default" id="tourDetails">
			<div class="panel-heading">
				<h2 class="panel-title text-center">
					<span>
						<button class="btn btn-primary" id="prevButt">&laquo;</button>
						<span id="tourHeader"></span>
						<button id="nextButt" class="btn btn-primary">&raquo;</button>
					</span>
				</h2>
			</div>
			<div class="panel-body" id="tripWrapper">
			{% for tour in trip %}
				<div class="routes" id="tour{{ loop.index0 }}"></div>
			{% endfor %}
			</div>
		</div>
	</div>
	<div class="col-md-8">
		<div id="wrapper">
			<div id="map_canvas"></div>
			
			<div class="panel panel-default" id="directionPanel">
				<div class="panel-heading">
					<button id="displayPanelClose" type="button" class="close">&times;</button>
					<h2 class="panel-title text-center">Directions</h2>
				</div>
				
				<div class="panel-body" id="displayPanel">
				</div>

			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="../scripts/trip.js"></script>
<script type="text/javascript" src="../jquery/jquery-ui-1.11.0.custom/jquery-ui-timepicker-addon.js"></script>
<script type="text/javascript">
	var wholeTrip = [];
	var tourNum = {{ tourNum }};
	{% for tour in trip %}
		var tripData = [];
		var tripCutoff;

		{% if tour[1] is not none %}
			tripCutoff = ({{tour[1]}});
		{% else %}
			tripCutoff = -1;
		{% endif %}
		{% for route in tour[0]%}
			tripData.push([{{route[0]|tojson|safe}}, {{route[1]}}]);
		{% endfor %}
		wholeTrip.push([tripData, tripCutoff]);
	{% endfor %}
</script>
{% endblock %}

